################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/.vs/blackPearlv1
/Source/blackPearlv1.Web/bin
/Source/blackPearlv1.Web/obj
/Source/packages
