################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/blkPearl.Web/bin/WebGrease.dll
